* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0 auto;
  border: 0;
  padding: 0;
  color: #000;
  font: normal 400 14px Roboto, serif;
  background: #f8f8f8;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

p,
h1,
h2,
h3,
figure {
  margin: 0;
}

select {
  cursor: pointer;
}

main {
  display: block;
}

button {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: #fb4d01;
  padding: 16px 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.wrapper {
  height: 100%;
  min-width: 1200px;
}

.container {
  min-height: 100%;
  margin-bottom: 65px;
}

.content {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.left-column {
  width: 270px;
  float: left;
}

.right-column {
  width: 900px;
  float: right;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*header*/
.header {
  background-color: #abeafa;
  width: 100%;
  position: relative;
  min-height: 350px;
}

.top-header {
  padding-top: 25px;
}

.logo {
  background: url("../img/logo.png") no-repeat;
  width: 125px;
  height: 111px;
  display: block;
  margin-left: 69px;
}

.header-social {
  text-align: right;
  margin: 22px 20px 0 0;
}

.header-social li {
  display: inline-block;
}

.header-social li:hover {
  background: #e24602;
}

.header-social li:hover:last-child {
  background: none;
}

.header-social a {
  font-size: 16px;
  color: #fff;
  padding: 5px 0;
  width: 25px;
  text-align: center;
}

.language {
  font-size: 10px;
}

.language select {
  padding: 5px 13px 5px 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.language .arrow-select::after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 5px;
  right: 7px;
  color: #e7e9ea;
  cursor: pointer;
}

.header-cart-img {
  background-size: contain;
}

.header-home {
  background-size: contain;
  min-height: 700px;
}

.header-bottom {
  position: relative;
}

.slider-header-content {
  position: absolute;
  right: 90px;
  top: 60px;
}

.slider-content {
  width: 330px;
  color: #fff51f;
  font: normal 400 18px/24px Raleway, serif;
}

.slider-content h1 {
  font-size: 48px;
  line-height: 40px;
  text-transform: uppercase;
}

.slider-content p {
  word-break: break-all;
}

.slider-content-button {
  width: 130px;
  background: #fff51f;
  color: #000;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 60px;
}

.slider-header-arrows {
  position: absolute;
  top: 77px;
  right: -90px;
}

.header-prev-arrow,
.header-next-arrow {
  position: absolute;
  right: 30px;
  background: url(../img/icons.png) -254px 17px #fff;
  width: 30px;
  height: 50px; 
}

.header-next-arrow {
  right: 0;
  transform: scaleX(-1); 
} 

.header-prev-arrow:hover,
.header-next-arrow:hover,
.slider-header-arrows .active {
  background-color: #fff51f;
}

.slider-header-control {
  text-align: center;
}

.slider-header-control input[type = "radio"] {
  border: 0;
  height: 0;
  margin-right: 30px;
}

.slider-header-control input[type = "radio"]:hover::after,
.slider-header-control input[type = "radio"]:checked::after {
  background-color: #fb4d01;
}

.slider-header-control input[type = "radio"]::after {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  background: #fff51f;
  cursor: pointer;
}


.log-in {
  width: 270px;
  background: #fb4d01;
  margin-top: 40px;
  font-family: 'Raleway';
}

.log-in a:hover {
  text-decoration: underline;
}

.login-wish {
  background: #f8f8f8;
  padding: 6px 28px;
}

.login-wish a {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fb4d01;
}

.cart-icon {
  background: url("../img/icons.png") no-repeat;
  display: inline-block;
  width: 40px;
  height: 35px;
  margin-right: 11px;
}

.cart {
  padding: 15px 17px 0 25px;
}

.cart-price {
  display: inline-block;
}

.final-price {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.cart-price a {
  font-size: 12px;
  color: #faef03;
}

.close a {
  background: url(../img/icons.png) no-repeat -45px 0px;
  display: block;
  width: 20px;
  height: 16px;
  margin-bottom: 8px;
}

.cart-edit a {
  font-size: 10px;
  color: #333333;
  text-transform: uppercase;
}

.view-check {
  font-size: 0;
  margin-top: 8px;
}

.view-check li {
  background: #ee4a02;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.view-check li:last-child {
  background: #e24602;
}

.view-check li a:hover {
  background: #faef03;
  color: #333;
}

.view-check li a {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 0;
}

.search {
  position: relative;
}

.search input[type = "text"] {
  width: 236px;
  padding: 11px;
  font-size: 10px;
  text-transform: uppercase;
  border: none;
}

.search::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00d";
  position: absolute;
  top: 9px;
  right: 40px;
  color: #686868;
}

.search input[type = "submit"] {
  width: 34px;
  height: 34px;
  background: #333333;
  border: none;
  cursor: pointer;
}

.search::after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f002";
  position: absolute;
  right: 10px;
  top: 8px;
  color: #fff;
}

.yellow-banner {
  background: #fff51f;
  width: 270px;
  margin-top: 10px;
  padding: 80px 25px;
  font-family: 'Raleway';
  font-weight: 700;
}

.yellow-banner h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.yellow-banner p {
  padding-top: 20px;
  font-size: 18px;
  font-style: italic;
  line-height: 14px;
  word-break: break-all;
}

/*main*/
.negative-position {
  position: relative;
  margin-top: -20px;
}

.negative-position-cart {
  margin-top: -130px;
}

.negative-position .content-column{
  padding: 0;
}

.negative-position .right-column {
  width: 870px;
}

.negative-position-cart .right-column {
  width: 885px;
}

/*aside*/
.aside-menu {
  text-transform: uppercase;
  font-family: 'roboto';
  font-weight: 900;
  color: #000;
  background: #26d2fc;
  margin-bottom: 22px;
  padding-bottom: 10px;
}

.aside-menu-lighter {
  background: #9eeafd;
}

.aside-menu li a {
  color: #000;
  display: block;
  padding: 10px 40px 8px;
}

.aside-menu li a:hover {
  background: #333333;
  color: #fff;
}

.aside-menu h3 {
  color: #fff;
  background: #333333;
  padding: 25px 40px 22px 40px;
  font-size: 14px;
}

.aside-block {
  margin-top: 30px;
  background: #fff;
  padding: 25px 0px 20px 28px;
  font-family: 'Roboto';
}

.tags-widget {
  font-size: 0;
}

.aside-block h3 {
  font: italic 900 23px Roboto, serif;
  margin-bottom: 23px;
}

.tags-widget li {
  display: inline-block;
  margin: 0 8px 8px 0;
}

.tags-widget li a {
  display: block;
  font-size: 12px;
  color: #333333;
  background: #e9e9e9;
  padding: 11px;
}

.tags-widget li a:hover {
  background: #faef03;
  font-size: 12px;
  font-weight: 600;
}

.link-arrow {
  font: italic 900 14px Roboto, serif;
  color: #000;
}

.link-arrow:hover {
  color: #fb4d01;
}

.link-arrow::after {
  font: normal normal 100 14px/1 FontAwesome;
  content: "\f178";
  margin-left: 8px;
}

.articles-experts li {
  margin-bottom: 12px;
  margin-top: 0;
}

.articles-experts li a {
  color: #555555;
}

.articles-experts li a:hover {
  color: #fb4d01;
}

.aside-banner {
  margin-top: 30px;
  background: #eaeaea;
  position: relative;
  min-height: 300px;
}

.aside-banner p {
  position: absolute;
  right: 20px;
  bottom: 50px;
  font: italic 900 36px Raleway, serif;
  color: #333333;
  text-transform: uppercase;
  width: 110px;
}

.content-column {
  background: #f8f8f8;
  padding-left: 30px;
}

/*breadcrumbs*/
.negative-position .breadcrumbs {
  padding: 0 40px;
}

.breadcrumbs {
  margin: 30px 0 45px 0;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li a {
  font-size: 12px;
  color: #989898;
  padding: 5px;
}

.breadcrumbs li a:hover {
  background: #faef03;
}

.breadcrumbs li a::after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f101";
  margin: 0 6px;
  background: none;
}

.breadcrumbs li:last-child a::after {
  content: "";
}

.back-previos {
  font-size: 12px;
  color: #999999;
  padding: 5px;
}

.back-previos:hover {
  background: #faef03;
}

.back-previos::before {
  content: "\f100";
  font: normal normal normal 14px/1 FontAwesome;
  margin: 0 6px;
}

/*Shopping cart, basket*/
.basket-tabbar {
  margin-top: -30px;
}

.basket-tabbar .line {
  width: 100%;
  margin: 15px 0 0 0;
}

.basket-tabbar-menu {
  margin-left: 50px;
}

.basket-tabbar-menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.basket-tabbar-menu li:last-child {
  margin-right: 0;
}

.basket-tabbar-menu a {
  font-size: 24px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.basket-tabbar-menu .active,
.basket-tabbar-menu a:hover {
  color: #ff0101;
}

.basket-tabbar-menu span {
  position: relative;
  top: -4px;
  font-size: 18px;
}

.basket-tabbar-menu span::after {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  border: solid #aaaaaa 1px;
  border-radius: 50%;
  position: relative;
  top: 9px;
  right: 21px;
}

.basket-tabbar-menu .active span::after,
.basket-tabbar-menu a:hover span::after {
  border-color: #ff0101;
}

.basket-tab {
  margin-top: 25px;
  font-size: 12px;
}

.cart-panel-header {
  font: italic 500 0px Roboto, serif;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 10px;
  border-bottom: solid #f1f1f1 1px;
}

.cart-panel-header li {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  text-align: center;
}

.cart-panel {
  width: 615px;
}

.cart-panel-name {
  width: 290px;
}

.cart-panel-unit {
  width: 130px;
}

.cart-panel-qty {
  width: 70px;
}

.cart-panel-subtotal {
  width: 125px;
}

.cart-product {
  margin-top: 10px;
}

.cart-product {
  padding-bottom: 10px;
  border-bottom: solid #f1f1f1 1px;
}

.cart-product > li {
  display: inline-block;
  vertical-align: top;
}

.cart-product-img {
  width: 70px;
  height: 110px;
  background: #eaeaea;
  margin: 0 15px 0 10px;
}

.cart-product-description {
  width: 190px;
}

.cart-product-name {
  font-weight: 700;
  font-size: 14px;
  color: #353535;
}

.cart-product-name:hover {
  color: #fb4d01;
}

.cart-product-social {
  margin-top: 15px;
}

.cart-product-social li {
  display: inline-block;
}

.cart-product-social a {
  color: #333333;
  font-size: 14px;
  padding: 0 9px 0 5px;
}

.cart-product-social a:hover {
  color: #fb4d01;
}

.cart-product-price,
.cart-product-subtotal {
  width: 127px;
}

.cart-product-price .shop-price,
.cart-product-subtotal .shop-price {
  text-align: center;
  font-size: 14px;
  color: #666669;
}

.cart-product-price .shop-price::before,
.cart-product-subtotal .shop-price::before {
  font-size: 14px;
  color: #666669;
}

.cart-product-subtotal {
  position: relative;
}

.cart-product-close {
  background: url("../img/icons.png") no-repeat -45px -16px;
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0;
  width: 20px;
  height: 20px;
}

.cart-product-total input {
  width: 35px;
  height: 25px;
  border: solid #f8f8f8 1px;
  text-align: center;
  color: #9b9b9b;
}

.total-decrease,
.total-increase {
  width: 11px;
  height: 18px;
  padding: 0;
  background: #fff;
  position: relative;
  top: 5px;
}

.total-decrease::before,
.total-increase::before {
  content: "";
  background: url("../img/icons.png") no-repeat -234px 0;
  position: absolute;
  top: 0;
  width: 7px;
  height: 18px;
}

.total-increase::before {
  background-position: -242px 0;
}

.checkout {
  width: 270px;
  height: 390px;
  background: #fb4d01;
  color: #fff;
  padding: 30px 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.checkout-info {
  margin: 40px 0 60px 0;
}

.checkout-info {
  text-align: left;
}

.checkout h3 {
  font-size: 16px;
  font-weight: 900;
}

.checkout li {
  margin-bottom: 25px;
}

.checkout li span {
  float: right;
}

.checkout .shop-price {
  font-size: 14px;
}

.checkout .shop-price::before {
  font-size: 12px;
}

.checkout-order {
  font-size: 16px;
  font-weight: 700;
}

.checkout-order .shop-price {
  font-size: 16px;
}

.checkout-order .shop-price::before {
  font-size: 14px;
}

.checkout-button {
  font-size: 28px;
  font-weight: 700;
  background: #333333; 
  padding: 4px 0;
  width: 230px;
  text-align: center;
}

.product-coupon {
  padding: 35px 33px 20px 20px;
}

.product-coupon h3 {
  font: italic 100 16px Roboto, serif;
  text-transform: uppercase;
}

.product-coupon button {
  font-size: 14px;
  background: #333333;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
}

.product-coupon-link {
  text-align: right;
  font-style: italic;
  text-decoration: underline;
  color: #333333;
}

.product-coupon-link:hover {
  color: #fb4d01;
}

.product-coupon input {
  width: 240px;
  font-size: 11px;
  padding: 8px 10px;
  border: solid #f4f4f4 1px;
  margin-top: 13px;
}

/*product-info, thumbs*/
.product-info {
  margin-top: 45px;
}

.product-big-photo  {
  width: 375px;
  height: 375px;
  margin: 0 auto;
  background-color: #eaeaea;
}

.product-thumbs-block {
  position: relative;
  width: 375px;
  margin-top: 20px;
}

.product-thumbs {
  white-space: nowrap;
  width: 270px;
  overflow: hidden;
  margin-left: 52px;
}

.product-thumb {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  width: 70px;
  height: 110px;
  background-color: #eaeaea;
}

.thumbs-arrow button {
  width: 55px;
  height: 110px;
  border: none;
  background: none;
}

.thumb-prev::before,
.thumb-next::before {
  content: "";
  background: url(../img/icons.png) no-repeat -117px 0;
  width: 15px;
  height: 43px;
  position: absolute;
  top: 35px;
  left: 20px;
}

.thumb-next::before {
  background-position: -134px 0;
  right: 20px;
}

.thumb-next {
  right: 0;
}

.thumb-prev,
.thumb-next {
  position: absolute;
  top: 0;
}

.product-descriptions {
  margin-left: 375px;
  padding-left: 45px;
}

.product-descriptions h1 {
  font-size: 24px;
  font-weight: 700;
}

.product-descriptions h2 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

.product-descriptions p {
  font-size: 12px;
}

.stars {
  background: url(../img/icons.png) no-repeat -150px 0;
  width: 50px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
}

.reviews::after {
  content: "|";
}

.product-price-code {
  position: relative;
  margin-top: 20px;
}

.product-code-availability {
  position: absolute;
  right: 0;
  top: 0;
}

.product-code-availability p:last-child {
  margin-top: 5px;
}

.product-price-code .shop-price {
  font: italic 500 22px Roboto, serif;
  text-align: left;
}

.product-price-code .shop-price::before {
  font-size: 20px;
}

.product-code-availability {
  font-size: 12px;
  color: #666669;
}

.product-code-availability span {
  color: #000;
}

.line {
  width: 390px;
  height: 1px;
  background: #f1f1f1;
  margin: 17px 0 17px 30px;
}

.product-size-length label {
  display: inline-block;
  margin-right: 10px;
}

.product-radio {
  width: 25px;
  display: block;
  text-align: center;
  padding: 10px 0;
  background: #fff;
  cursor: pointer;
}

.product-radio input[type = "radio"] {
  display: none;
}

.product-size-length label:hover,
.product-size-length input[type = "radio"]:checked + span {
  color: #ff4a4a;
}

.product-quantity-add {
  background: none;
  font-size: 20px;
  color: #cdcdcd;
  padding: 2px;
  position: relative;
  top: 2px;
}

.product-quantity input {
  width: 30px;
  height: 30px;
  text-align: center;
  border: solid #f7f7f7 1px;
  color: #9b9b9b;
}

.product-add p {
  font-weight: 700;
}

.add-list {
  width: 125px;
}

.add-list a {
  font-size: 11px;
  color: #353535;
}

.add-list a::before {
  content: "+";
  margin-right: 5px;
}

.add-list a:hover {
  color: #fb4d01;
}

.product-quantity {
  width: 120px;
}

/*tabbar*/
.product-tabbar {
  margin-top: 40px;
}

.product-tabbar-menu {
  font-size: 0;
  margin-left: 20px;
}

.product-tabbar-menu li {
  display: inline-block;
}

.product-tabbar-menu a {
  text-transform: uppercase;
  color: #333333;
  font-size: 12px;
  padding: 8px 13px;
}

.product-tabbar-menu a:hover,
.product-tabbar-menu .active {
  background: #26d2fc;
}

.product-tab {
  line-height: 20px;
  border: solid #edecec 1px;
  padding: 10px;
  font-size: 11px;
  color: #808080;
}

/*filter*/
.arrow-select {
  position: relative;
  display: inline-block;
}

.filter {
  font: 11px 'Roboto';
  text-transform: uppercase;
}

.filter > div {
  float: left;
}

.filter select {
  padding: 2px 0px 2px 8px;
  width: 95px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: solid 1px #efeeee;
  font-size: 12px;
  color: #666669;
  text-transform: none;
}

.filter .arrow-select::after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: 5px;
  right: 7px;
  color: #bbbbbb;
  cursor: pointer;
}

.fa-long-arrow-up {
  color: #a7a7a9;
  font-weight: 100;
  margin-left: 5px;
}

.view {
  margin: 0 80px 0 95px;
}

.view ul {
  display: inline-block;
  vertical-align: middle;
}

.view li {
  display: inline-block;
}

.view a {
  background: url(../img/icons.png) no-repeat;;
  width: 18px;
  height: 18px;
  display: block;
}

.view a:hover {
  opacity: 0.8;
}

.view-block a {
  background-position: -70px 0;
  margin: 0 20px;
}

.view-list a {
  background-position: -90px 0;
}

.show-page {
  margin-right: 90px;
}

.page ul {
  display: inline-block;
}

.page li {
  margin: 0 8px;
  display: inline-block;
}

.page a:hover,
.page .active a {
  background: #26d2fc;
  color: #fff;
}

.page li:last-child {
  margin: 0;
}

.page li a {
  color: #333;
  padding: 3px 5px;
  display: block;
  min-width: 20px;
  box-sizing: border-box;
  text-align: center;
}

.page .next {
  background: none;
}

.page .fa-angle-right::before {
  color: #c6c6c6;
}

/*shop*/
.shop {
   margin-top: 25px;
   font-size: 0;
}

.shop h2 {
  font: italic 900 24px Roboto, serif;
  text-transform: uppercase;
  padding: 0 30px;
  color: #707070;
  margin: 0 0 25px 0;
}

.also-like h2,
.recently-viewed h2{
  font-size: 30px;
  color: #333333;
  padding: 0;
}

.shop-item {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  min-height: 320px;
  background: #fff;
  margin: 0 30px 30px 0;
  padding-top: 10px;
  text-align: center;
  font: italic 900 14px Roboto, serif;
  text-transform: uppercase;
  color: #333333;
  position: relative;
}

.shop-item:nth-of-type(3n) {
  margin-right: 0;
}

.shop-item figcuption {
  display: block;
  padding: 14px 15px 0px 28px;
  color: #333333;
}

.shop-item-img {
  display: block;
  width: 250px;
  height: 230px;
  background-color: #eaeaea;
  margin: auto;
}

.shop-item:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.shop-item .goods-name {
  width: 140px;
  text-align: left;
}

.top-products{
  margin-top: 35px;
}

.sale-products {
  margin-top: 45px;
}

.shop-slider-arrow {
  margin: 5px 15px 0 0;
}

.shop-slider-arrow li {
  display: inline-block;
  margin-right: 17px;
}

.shop-slider-arrow li a:hover {
  color: #26d2fc;
}

.shop-slider-arrow a {
  font-size: 20px;
  color: #707070;
}

.also-like,
.recently-viewed {
  margin-top: 100px;
  overflow: hidden;
  width: 885px;
  padding-left: 5px;
}

.recently-viewed {
  margin-top: 70px;
}

.coloring-slider {
  position: relative;
  white-space: nowrap;
}

.coloring-slider .shop-item {
  margin-right: 30px;
}

.coloring-slider-next,
.coloring-slider-prev {
 position: absolute;
 top: 115px;
 background: #faef03;
 width: 40px;
 height: 40px;
}

.also-like .coloring-slider-next,
.also-like .coloring-slider-prev {
  background: #26d2fc;
}

.coloring-slider-prev {
  left: 0;
}

.coloring-slider-next {
  right: 10px;
}

.coloring-slider-prev::before,
.coloring-slider-next::before {
  content: "";
  background: url(../img/icons.png) no-repeat -203px 0;
  width: 15px;
  height: 35px;
  position: absolute;
  top: 3px;
  left: 14px;
}

.coloring-slider-next::before {
  background-position: -215px 0;
}

.mark::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 45px 45px 0;
  border-color: transparent #e24502 transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.mark::before {
  content: "NEW";
  position: absolute;
  top: 8px;
  right: 4px;
  color: #fff;
  font-size: 9px;
  z-index: 1;
}

.mark-hot::after {
  border-color: transparent #faef03 transparent transparent;
}

.mark-hot::before {
  content: "HOT";
  color: #000;
}

.shop-price {
  font-size: 18px;
  text-align: right;
}

.shop-price::before {
  font: normal normal normal 16px/1 FontAwesome;
  content: "\f153.";
}

.shop-old-price {
  font-size: 14px;
  font-weight: 900;
  color: #e24602;
  text-decoration: line-through;
}

.shop-old-price::before {
  font-size: 14px;
}

/*brands*/
.brands {
  padding: 43px 18px;
  background: #fff;
  min-height: 160px;
}

.brands li {
  display: inline-block;
  margin-right: 15px;
}

.brands li:last-child {
  margin-right: 0;
}

.brands li:hover{
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
}

.brand {
  background: url("../img/brand.png") no-repeat;
  height: 75px;
}

.brand-billa {
  background-position: 0px 0;
  width: 209px;
}

.brand-element {
  background-position: -220px 0;
  width: 183px;
}

.brand-oneil {
  background-position: -421px 0;
  width: 115px;
}

.brand-oakley {
  background-position: -550px 0;
  width: 115px;
}

.brand-quiksilver {
  background-position: -682px 0;
  width: 180px;
}

.brand-reef {
  background-position: -887px 0;
  width: 90px;
}

.brand-ripcurl {
  background-position: -990px 0;
  width: 125px;
}

/*insta*/
.insta-block {
  text-align: center;
  background: #eaeaea;
  padding-bottom: 60px;
}

.insta-block h3 {
  font: italic 900 22px Roboto, serif;
  padding: 50px 0 25px 0;
}

.insta-block h3 span {
  font-size: 18px;    
}

.insta-block h3::before {
  content: "\f16d";
  font: normal normal normal 34px/21px FontAwesome;
  position: relative;
  top: 3px;
  margin-right: 13px;
  left: 6px;
}

.insta-block li {
  display: inline-block;
  vertical-align: top;
  margin: 0 7px 7px 0;
  border: solid 7px #fff;
  width: 185px;
  height: 185px;
}

.insta-block li:nth-of-type(6n) {
  margin-right: 0;
}

.insta-block li:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*footer*/
.footer p,
.footer a {
  color: #fff;
}

.footer-top-social li {
  float: left;
  width: 390px;
  text-align: center;
  background: #3b5997;
  margin: auto;
}

.footer-top-social li:hover {
  opacity: 0.8;
}

.footer-top-social a {
  font-size: 66px;
  color: #fff;
  display: block;
  padding: 42px 0;
}

.footer-top-social .fa-twitter {
  background: #3fccfd;
}
.footer-top-social .fa-pinterest {
  background: #cb2027;
}

.info-footer {
  background: #373737;
}

.ul-info {
  padding: 75px 25px 65px 25px;
}

.ul-info > li {
  float: left;
}

.ul-info a {
  font-size: 12px;
}

.ul-info a:hover {
  color: #fff51f;
}

.ul-info h4 {
  font: italic 800 18px Raleway, serif;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 0;
}

.category,
.our-account {
  width: 200px;
}

.our-support {
  width: 180px;
}

.newsletter {
  width: 300px;
}

.about-us {
  width: 230px;
}

.newsletter h4,
.about-us h4 {
  margin-bottom: 5px;
}

.footer-email input[type = "email"] {
  position: relative;
  font-weight: bold;
  font-size: 12px;
  border: 0;
  text-transform: uppercase;
  padding: 10px 0 10px 20px;  
  background: #fff51f;
  color: rgba(51, 51, 51, 0.5);
}

.footer-email input[type = "submit"] {
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  border: 0;
  padding: 11px 10px 10px 10px;
  color: #fff;
  background: #000;
  cursor: pointer;
}

.pay-card {
  margin-top: 45px;
}

.pay-card li {
  display: inline-block;
  margin-right: 8px;
}

.pay-card li:last-child {
  margin-right: 0;
}

.pay-card a {
  background: url("../img/paycard.png") no-repeat;
  display: block;
  height: 23px;
  width: 36px;
}

.pay-card a:hover {
  opacity: 0.8;
}

.mastercard a {
  background-position: -38px 0;
}

.maestro a {
  background-position: -76px 0;
}

.paypal a {
  background-position: -114px 0;
}

.discover a {
  background-position: -152px 0;
}

.visa a {
  background-position: -190px 0;
}

.footer-text {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 15px;
}

.footer-phone a,
.footer-email a {
  display: inline-block;
  font-size: 14px;
}

.footer-email a {
  color: #fff51f;
}

.copyright {
  background: #333333;
  padding: 25px 0;
}

.copyright p > span {
  text-transform: uppercase;
}

.footer-social li {
  display: inline-block;
  margin-right: 15px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social a:hover {
  color: #fff51f;
}

.hidden {
  display: none;
}